/* Navigation bar */

nav {
  display: flex;
  background-color: #eb4b95;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navbar-brand {
  font-weight: bold;
}

#nav-all{
  font-size: 30px;
}

.nav-link {
  font-size: 1rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}
