/* Lists of stories */

.stories-list {
  margin: 20px 1px;
}

body {
  background-image: url("http://pm1.narvii.com/7867/61c20f4157bbbbe4d9c3362c73565d66f7627b80r1-720-776v2_uhq.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat, repeat;
  background-size: cover
 }

button {
  background-color: rgb(121, 100, 100);
  color: white;
  border-color: white;
  font-size: 10px
}

.stories-list > li {
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

.favorite-symbol {
  font-size: 20px;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 rgb(255,255,255)
}

.favorited {  
  color: transparent;
  text-shadow: 0 0 0 rgb(255, 0, 212)
}





/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}

ol div {
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}